<div class="send-work-page">
    <p class="title">添加菜谱名：</p>
    <input type="text" placeholder="菜谱名">
    <div class="banner">
        <p>添加成品图</p>
    </div>
    <p class="title">菜谱的描述：</p>
    <textarea placeholder="说点什么..."></textarea>
    <p class="title">用料：</p>
    <div class="foods">
        <div class="food-wrap">
            <input type="text" placeholder="材料：如鸡蛋">
            <input type="text" placeholder="用量：如一只">
        </div>
        <div class="food-wrap">
            <input type="text" placeholder="材料：如鸡蛋">
            <input type="text" placeholder="用量：如一只">
        </div>
        <div class="food-wrap">
            <input type="text" placeholder="材料：如鸡蛋">
            <input type="text" placeholder="用量：如一只">
        </div>
    </div>
    <div class="btn">
        添加用料
    </div>
    <p class="title">步骤：</p>
    <div class="step-wrap">
        <textarea placeholder="详细说明..."></textarea>
        <div class="step-banner">
            <p>上传步骤图</p>
        </div>
    </div>
    <div class="btn">
        添加步骤
    </div>
    <p class="title">提示：</p>
    <textarea placeholder="小贴上..."></textarea>
    <div class="btn send">
        发布菜谱
    </div>
</div>