.index-page {
    transition: all 400ms;
    .scrollToTop {
        position: fixed;
        cursor: pointer;
        bottom: 30px;
        right: 40px;
        width: 40px;
        height: 40px;
        background: #e7eaf1;
        align-items: center;
        text-align: center;
        line-height: 40px;
        border-radius: 4px;
        svg {
            fill: #9aaabf;
            width: 16px;
            height: 16px;
            vertical-align: text-bottom;
        }
    }
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background: #f7fafc;
    .main {
        width: 1000px;
        display: flex;
        padding: 0 16px;
        margin: 10px auto;
        .left-contens-wrap {
            width: 694px;
            height: 900px;
            min-height: 400px;
            margin-right: 10px;
            float: left
        }
        .TopstorySideBar {
            float: left;
            width: 296px;
            height: 600px;
            .iCard {
                width: 100%;
                padding-bottom: 10px;
                background: #fff;
                margin-bottom: 10px;
                border: 1px solid #e7eaf1;
                box-shadow: 0 1px 3px rgba(0, 37, 55, .05);
                border-radius: 2px;
                box-sizing: border-box;
                .userimg {
                    width: 80px;
                    height: 80px;
                    border-radius: 9999px;
                    display: block;
                    margin: 20px auto;
                }
                h3 {
                    text-align: center;
                    margin-bottom: 8px;
                }
                .dec {
                    display: flex;
                    display: -webkit-flex;
                    p {
                        margin-bottom: 8px;
                    }
                    .items {
                        flex-grow: 1;
                        -webkit-flex-grow: 1;
                        text-align: center;
                        color: #ababab;
                    }
                }
            }
            .ilist {
                width: 100%;
                background: #fff;
                border: 1px solid #e7eaf1;
                box-shadow: 0 1px 3px rgba(0, 37, 55, .05);
                border-radius: 2px;
                box-sizing: border-box;
                .TopstorySideBar-navList {
                    width: 100%;
                    padding: 0;
                    li {
                        a {
                            align-items: center;
                            -webkit-box-align: center;
                            display: flex;
                            padding: 0 15px;
                            height: 40px;
                            overflow: hidden;
                            font-size: 14px;
                        }
                        svg {
                            fill: #9fadc7;
                            vertical-align: text-bottom;
                            margin-right: 12px;
                            width: 20px;
                            height: 20px;
                        }
                        width: 100%;
                        list-style: none;
                        color: #9fadc7;
                        transition: all .5s;
                        cursor: pointer;
                    }
                    li:hover {
                        background: #ebf3fb;
                    }
                }
            }
        }
    }
    .loading-svg {
        width: 100%;
        clear: both;
        height: 100px;
        text-align: center;
        svg {
            margin-top: 30px;
            fill: #0f88eb;
        }
    }
}