<div #scrollMe class="index-page" (scroll)="onscroll($event)">
    <app-iheader></app-iheader>
    <section class="main">
        <div class="left-contens-wrap">
            <router-outlet></router-outlet>

            <div class="loading-svg">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                    <rect x="0" y="0" width="4" height="7"  transform="scale(1 2.22222)">
                    <animateTransform attributeType="xml" attributeName="transform" type="scale" values="1,1; 1,3; 1,1" begin="0s" dur="0.6s" repeatCount="indefinite"></animateTransform>       
                    </rect>

                    <rect x="10" y="0" width="4" height="7"  transform="scale(1 1.11111)">
                    <animateTransform attributeType="xml" attributeName="transform" type="scale" values="1,1; 1,3; 1,1" begin="0.2s" dur="0.6s" repeatCount="indefinite"></animateTransform>       
                    </rect>
                    <rect x="20" y="0" width="4" height="7"  transform="scale(1 2.44444)">
                    <animateTransform attributeType="xml" attributeName="transform" type="scale" values="1,1; 1,3; 1,1" begin="0.4s" dur="0.6s" repeatCount="indefinite"></animateTransform>       
                    </rect>
                </svg>
            </div>

        </div>

        <app-side-bar></app-side-bar>

    </section>

    <div class="scrollToTop" (click)="scrollToTop();">
        <svg width="16" height="16" viewBox="0 0 17 17" xmlns="http://www.w3.org/2000/svg" class="Icon Icon--backToTopArrow" aria-hidden="true" style="height: 16px; width: 16px;"><title>回到顶部</title><g><path d="M12.036 15.59c0 .55-.453.995-.997.995H5.032c-.55 0-.997-.445-.997-.996V8.584H1.03c-1.1 0-1.36-.633-.578-1.416L7.33.29c.39-.39 1.026-.385 1.412 0l6.878 6.88c.782.78.523 1.415-.58 1.415h-3.004v7.004z" fill-rule="evenodd"></path></g></svg>
    </div>
    <!--photoswipe模板组件  -->
    <app-photoswipe></app-photoswipe>
</div>